[Unit]
Description=Tailscale autoconnect (re-apply preferences on boot)
After=network-online.target tailscaled.service
Requires=tailscaled.service
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/tailscale-autoconnect
ExecStart=/usr/bin/tailscale up $TS_UP_EXTRA_ARGS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
